## NHS Post processing Library

This notebook provides examples on how to carry out data evaluation, visualization and analysis using the post_processing python library. Be sure to go through the [Quick Start](https://nhs-postprocessing.readthedocs.io/en/latest/QuickStart.html) section of the [documentation](https://nhs-postprocessing.readthedocs.io/en/latest/index.html) for instructions on how to access and import the libary and its packages.

##### Note: 
The Library is still under active development and empty sections will be completed in Due time

### Table of content
- Requirements
- Data Manipulation(generating and obtaining the Dataframes required)
- Analysis
- Viaualizations

### Requirements

The conda environmnent contains all libraries associated the post processing library. After setting up the conda environment, you only have to import the metrics and visualization modules from postprocessinglib.evaluation

In [1]:
### Remove and modify these later.
import ipywidgets as widgets
from ipywidgets import interactive, ToggleButtons
import datetime
import sys
import numpy as np
sys.path.append("../../../../postprocessing")

In [2]:
from postprocessinglib.evaluation import data, metrics, visuals
from postprocessinglib.utilities import helper_functions as hlp

From this point on, the function you use will depend on which project you are working on and what sort of data i.e., the datatype of the data, you have.

### MESH CSV files

Assuming you have a csv file containing an csv file with observed and simulated values for a list of stations of the form:
| Some datetime  | station1_obs | station1_sim | station2_obs | station2_sim |
| -------------- | ------------ | ------------ | ------------ | ------------ | 

We simply pass it into our generate dataframes function as shown below:

In [3]:
# passing a controlled csv file for testing
path = "MESH_output_streamflow.csv"

# assuming the simulation model needs 365 days to warm up and account for erros during the learning phase.
DATAFRAMES = data.generate_dataframes(csv_fpath=path, warm_up=365)

In this case, because we dont pass in aggregation parameters, we end up with the three default dataframnes in our dictionary; the merged dataframe, the observed data and the simulated data

In [4]:
print("The Merged dataframe: \n")
print(DATAFRAMES["DF"])
print("The Observed dataframe: \n")
print(DATAFRAMES["DF_OBSERVED"])
print("\nThe Simulated dataframe: \n")
print(DATAFRAMES["DF_SIMULATED"])

The Merged dataframe:

            QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1980-12-31           10.20       2.530770             NaN       1.006860
1981-01-01            9.85       2.518999             NaN       1.001954
1981-01-02           10.20       2.507289             NaN       0.997078
1981-01-03           10.00       2.495637             NaN       0.992233
1981-01-04           10.10       2.484073             NaN       0.987417
...                    ...            ...             ...            ...
2017-12-27             NaN       4.418050             NaN       1.380227
2017-12-28             NaN       4.393084             NaN       1.372171
2017-12-29             NaN       4.368303             NaN       1.364174
2017-12-30             NaN       4.343699             NaN       1.356237
2017-12-31             NaN       4.319275             NaN       1.348359

[13515 rows x 4 columns]
The Observed dataframe:

            QOMEAS_05BB001  QOMEAS_05BA001
1980-12-31           10.20             NaN
1981-01-01            9.85             NaN
1981-01-02           10.20             NaN
1981-01-03           10.00             NaN
1981-01-04           10.10             NaN
...                    ...             ...
2017-12-27             NaN             NaN
2017-12-28             NaN             NaN
2017-12-29             NaN             NaN
2017-12-30             NaN             NaN
2017-12-31             NaN             NaN

[13515 rows x 2 columns]

The Simulated dataframe:

            QOSIM_05BB001  QOSIM_05BA001
1980-12-31       2.530770       1.006860
1981-01-01       2.518999       1.001954
1981-01-02       2.507289       0.997078
1981-01-03       2.495637       0.992233
1981-01-04       2.484073       0.987417
...                   ...            ...
2017-12-27       4.418050       1.380227
2017-12-28       4.393084       1.372171
2017-12-29       4.368303       1.364174
2017-12-30       4.343699       1.356237
2017-12-31       4.319275       1.348359

[13515 rows x 2 columns]

The Simulated and Observed dataframes are particularly important in the calculation of our metrics

In [5]:
# You are also  able to generate the dataframes for a given period of time i.e from a start date, till an end date
# and everything in between
DATAFRAMES_January2010 = data.generate_dataframes(csv_fpath=path, warm_up=365, start_date='2010-01-01' , end_date='2010-1-31')
DATAFRAMES_till2009 = data.generate_dataframes(csv_fpath=path, warm_up=365, end_date='2009-12-31')
DATAFRAMES_from1995 = data.generate_dataframes(csv_fpath=path, warm_up=365, start_date='1995-01-01')

In [6]:
print("The Merged dataframe for January 2010: \n")
print(DATAFRAMES_January2010["DF"])
print("The Observed dataframe for January 2010: \n")
print(DATAFRAMES_January2010["DF_OBSERVED"])
print("\nThe Simulated dataframe for January 2010: \n")
print(DATAFRAMES_January2010["DF_OBSERVED"])

The Merged dataframe for January 2010:

            QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
2010-01-01             NaN       4.000698             NaN       0.793435
2010-01-02             NaN       3.978494             NaN       0.789141
2010-01-03             NaN       3.956450             NaN       0.784877
2010-01-04             NaN       3.934558             NaN       0.780643
2010-01-05             NaN       3.912824             NaN       0.776437
2010-01-06             NaN       3.891242             NaN       0.772261
2010-01-07             NaN       3.869810             NaN       0.768114
2010-01-08             NaN       3.848532             NaN       0.763995
2010-01-09             NaN       3.827400             NaN       0.759905
2010-01-10             NaN       3.806418             NaN       0.755842
2010-01-11             NaN       3.785582             NaN       0.751808
2010-01-12             NaN       3.764892             NaN       0.747801
2010-01-13             NaN       3.744347             NaN       0.743821
2010-01-14             NaN       3.723943             NaN       0.739868
2010-01-15             NaN       3.703679             NaN       0.735942
2010-01-16             NaN       3.683560             NaN       0.732043
2010-01-17             NaN       3.663576             NaN       0.728171
2010-01-18             NaN       3.643738             NaN       0.724324
2010-01-19             NaN       3.624028             NaN       0.720504
2010-01-20             NaN       3.604458             NaN       0.716710
2010-01-21             NaN       3.585024             NaN       0.712941
2010-01-22             NaN       3.565720             NaN       0.709197
2010-01-23             NaN       3.546552             NaN       0.705479
2010-01-24             NaN       3.527510             NaN       0.701786
2010-01-25             NaN       3.508604             NaN       0.698118
2010-01-26             NaN       3.489822             NaN       0.694474
2010-01-27             NaN       3.471175             NaN       0.690854
2010-01-28             NaN       3.452648             NaN       0.687258
2010-01-29             NaN       3.434252             NaN       0.683687
2010-01-30             NaN       3.415977             NaN       0.680139
2010-01-31             NaN       3.397829             NaN       0.676615
The Observed dataframe for January 2010:

            QOMEAS_05BB001  QOMEAS_05BA001
2010-01-01             NaN             NaN
2010-01-02             NaN             NaN
2010-01-03             NaN             NaN
2010-01-04             NaN             NaN
2010-01-05             NaN             NaN
2010-01-06             NaN             NaN
2010-01-07             NaN             NaN
2010-01-08             NaN             NaN
2010-01-09             NaN             NaN
2010-01-10             NaN             NaN
2010-01-11             NaN             NaN
2010-01-12             NaN             NaN
2010-01-13             NaN             NaN
2010-01-14             NaN             NaN
2010-01-15             NaN             NaN
2010-01-16             NaN             NaN
2010-01-17             NaN             NaN
2010-01-18             NaN             NaN
2010-01-19             NaN             NaN
2010-01-20             NaN             NaN
2010-01-21             NaN             NaN
2010-01-22             NaN             NaN
2010-01-23             NaN             NaN
2010-01-24             NaN             NaN
2010-01-25             NaN             NaN
2010-01-26             NaN             NaN
2010-01-27             NaN             NaN
2010-01-28             NaN             NaN
2010-01-29             NaN             NaN
2010-01-30             NaN             NaN
2010-01-31             NaN             NaN

The Simulated dataframe for January 2010:

            QOMEAS_05BB001  QOMEAS_05BA001
2010-01-01             NaN             NaN
2010-01-02             NaN             NaN
2010-01-03             NaN             NaN
2010-01-04             NaN             NaN
2010-01-05             NaN             NaN
2010-01-06             NaN             NaN
2010-01-07             NaN             NaN
2010-01-08             NaN             NaN
2010-01-09             NaN             NaN
2010-01-10             NaN             NaN
2010-01-11             NaN             NaN
2010-01-12             NaN             NaN
2010-01-13             NaN             NaN
2010-01-14             NaN             NaN
2010-01-15             NaN             NaN
2010-01-16             NaN             NaN
2010-01-17             NaN             NaN
2010-01-18             NaN             NaN
2010-01-19             NaN             NaN
2010-01-20             NaN             NaN
2010-01-21             NaN             NaN
2010-01-22             NaN             NaN
2010-01-23             NaN             NaN
2010-01-24             NaN             NaN
2010-01-25             NaN             NaN
2010-01-26             NaN             NaN
2010-01-27             NaN             NaN
2010-01-28             NaN             NaN
2010-01-29             NaN             NaN
2010-01-30             NaN             NaN
2010-01-31             NaN             NaN

In [7]:
print("The Merged dataframe until 2009: \n")
print(DATAFRAMES_till2009["DF"])
print("The Observed dataframe until 2009: \n")
print(DATAFRAMES_till2009["DF_OBSERVED"])
print("\nThe Simulated dataframe until 2009: \n")
print(DATAFRAMES_till2009["DF_SIMULATED"])

The Merged dataframe until 2009:

            QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1980-12-31           10.20       2.530770             NaN       1.006860
1981-01-01            9.85       2.518999             NaN       1.001954
1981-01-02           10.20       2.507289             NaN       0.997078
1981-01-03           10.00       2.495637             NaN       0.992233
1981-01-04           10.10       2.484073             NaN       0.987417
...                    ...            ...             ...            ...
2009-12-27             NaN       4.114114             NaN       0.815359
2009-12-28             NaN       4.091105             NaN       0.810912
2009-12-29             NaN       4.068261             NaN       0.806497
2009-12-30             NaN       4.045577             NaN       0.802113
2009-12-31             NaN       4.023057             NaN       0.797758

[10593 rows x 4 columns]
The Observed dataframe until 2009:

            QOMEAS_05BB001  QOMEAS_05BA001
1980-12-31           10.20             NaN
1981-01-01            9.85             NaN
1981-01-02           10.20             NaN
1981-01-03           10.00             NaN
1981-01-04           10.10             NaN
...                    ...             ...
2009-12-27             NaN             NaN
2009-12-28             NaN             NaN
2009-12-29             NaN             NaN
2009-12-30             NaN             NaN
2009-12-31             NaN             NaN

[10593 rows x 2 columns]

The Simulated dataframe until 2009:

            QOSIM_05BB001  QOSIM_05BA001
1980-12-31       2.530770       1.006860
1981-01-01       2.518999       1.001954
1981-01-02       2.507289       0.997078
1981-01-03       2.495637       0.992233
1981-01-04       2.484073       0.987417
...                   ...            ...
2009-12-27       4.114114       0.815359
2009-12-28       4.091105       0.810912
2009-12-29       4.068261       0.806497
2009-12-30       4.045577       0.802113
2009-12-31       4.023057       0.797758

[10593 rows x 2 columns]

In [8]:
print("The Merged dataframe from 1995: \n")
print(DATAFRAMES_from1995["DF"])
print("The Observed dataframe from 1995: \n")
print(DATAFRAMES_from1995["DF_OBSERVED"])
print("\nThe Simulated dataframe from 1995: \n")
print(DATAFRAMES_from1995["DF_SIMULATED"])

The Merged dataframe from 1995:

            QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1995-01-01            8.37       3.170254             NaN       0.884237
1995-01-02           10.10       3.153162             NaN       0.879155
1995-01-03           12.20       3.136179             NaN       0.874110
1995-01-04           13.00       3.119328             NaN       0.869102
1995-01-05           13.20       3.102574             NaN       0.864132
...                    ...            ...             ...            ...
2017-12-27             NaN       4.418050             NaN       1.380227
2017-12-28             NaN       4.393084             NaN       1.372171
2017-12-29             NaN       4.368303             NaN       1.364174
2017-12-30             NaN       4.343699             NaN       1.356237
2017-12-31             NaN       4.319275             NaN       1.348359

[8401 rows x 4 columns]
The Observed dataframe from 1995:

            QOMEAS_05BB001  QOMEAS_05BA001
1995-01-01            8.37             NaN
1995-01-02           10.10             NaN
1995-01-03           12.20             NaN
1995-01-04           13.00             NaN
1995-01-05           13.20             NaN
...                    ...             ...
2017-12-27             NaN             NaN
2017-12-28             NaN             NaN
2017-12-29             NaN             NaN
2017-12-30             NaN             NaN
2017-12-31             NaN             NaN

[8401 rows x 2 columns]

The Simulated dataframe from 1995:

            QOSIM_05BB001  QOSIM_05BA001
1995-01-01       3.170254       0.884237
1995-01-02       3.153162       0.879155
1995-01-03       3.136179       0.874110
1995-01-04       3.119328       0.869102
1995-01-05       3.102574       0.864132
...                   ...            ...
2017-12-27       4.418050       1.380227
2017-12-28       4.393084       1.372171
2017-12-29       4.368303       1.364174
2017-12-30       4.343699       1.356237
2017-12-31       4.319275       1.348359

[8401 rows x 2 columns]

You are also able to go a step further by aggregating your data right from the beggining by using the optional arguments

In [9]:
## Lets use a time period of 1981 to 1990 to demonstrate this
DATAFRAMES = data.generate_dataframes(csv_fpath=path, warm_up=365, start_date = "1981-01-01", end_date = "1990-12-31",
                                      # optional arguments
                                      # lets see a weekly aggregation
                                      weekly_agg = True, wa_method = 'min',
                                      # lets also see monthly aggregation
                                      monthly_agg = True, ma_method = 'inst',
                                      # lets also see yearly aggregation
                                      yearly_agg = True, ya_method = 'sum'
                                      # note that without inputing the respective methods,
                                      # the functions default to mean as the method of aggregation
                                     )
for key, value in DATAFRAMES.items():
    print(f"{key}:\n{value}")

DF:
            QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981-01-01            9.85       2.518999             NaN       1.001954
1981-01-02           10.20       2.507289             NaN       0.997078
1981-01-03           10.00       2.495637             NaN       0.992233
1981-01-04           10.10       2.484073             NaN       0.987417
1981-01-05            9.99       2.472571             NaN       0.982631
...                    ...            ...             ...            ...
1990-12-27           10.10       6.615961             NaN       1.737144
1990-12-28            9.50       6.573054             NaN       1.725025
1990-12-29            8.60       6.530500             NaN       1.713013
1990-12-30            8.20       6.488300             NaN       1.701107
1990-12-31            8.25       6.446449             NaN       1.689308

[3652 rows x 4 columns]
DF_SIMULATED:
            QOSIM_05BB001  QOSIM_05BA001
1981-01-01       2.518999       1.001954
1981-01-02       2.507289       0.997078
1981-01-03       2.495637       0.992233
1981-01-04       2.484073       0.987417
1981-01-05       2.472571       0.982631
...                   ...            ...
1990-12-27       6.615961       1.737144
1990-12-28       6.573054       1.725025
1990-12-29       6.530500       1.713013
1990-12-30       6.488300       1.701107
1990-12-31       6.446449       1.689308

[3652 rows x 2 columns]
DF_OBSERVED:
            QOMEAS_05BB001  QOMEAS_05BA001
1981-01-01            9.85             NaN
1981-01-02           10.20             NaN
1981-01-03           10.00             NaN
1981-01-04           10.10             NaN
1981-01-05            9.99             NaN
...                    ...             ...
1990-12-27           10.10             NaN
1990-12-28            9.50             NaN
1990-12-29            8.60             NaN
1990-12-30            8.20             NaN
1990-12-31            8.25             NaN

[3652 rows x 2 columns]
DF_WEEKLY:
         QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981/00            9.85       2.484073             NaN       0.987417
1981/01            8.70       2.404939             NaN       0.954524
1981/02            8.24       2.328990             NaN       0.923008
1981/03            7.86       2.256059             NaN       0.892801
1981/04            8.10       2.186006             NaN       0.863836
...                 ...            ...             ...            ...
1990/49           10.80       7.453629             NaN       1.975199
1990/50            8.70       7.112537             NaN       1.877937
1990/51            8.10       6.791226             NaN       1.786726
1990/52            8.20       6.488300             NaN       1.701107
1990/53            8.25       6.446449             NaN       1.689308

[531 rows x 4 columns]
DF_MONTHLY:
         QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981/01            8.62       2.195846             NaN       0.867900
1981/02            7.20       1.940355             NaN       0.762678
1981/03            7.25       1.699932             NaN       0.664341
1981/04           15.30       3.859564             NaN       0.584523
1981/05          113.00     220.485800           28.20      96.363520
...                 ...            ...             ...            ...
1990/08           33.60      40.431200           10.10      23.856810
1990/09           90.90      19.438340           30.50       6.175078
1990/10           21.10       9.648046            4.01       2.642092
1990/11           12.00       7.920140            3.90       2.109938
1990/12            8.25       6.446449             NaN       1.689308

[120 rows x 4 columns]
DF_YEARLY:
      QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981        10386.27    9273.383180         2424.26    4007.949313
1982        12635.47    8874.369067         3163.23    4123.606233
1983        11909.23    8214.793557         3198.17    3810.515038
1984        13298.33    7459.351671         2699.42    3431.981225
1985        13730.50    8487.241498         2992.40    3756.822014
1986        12576.84   10651.883689         3103.15    4794.825198
1987        15066.57    8947.025052         3599.74    4260.917801
1988        12642.53   10377.241643         2972.87    4614.234614
1989        10860.93   11118.336160         2624.79    5193.322199
1990        11129.76   11226.011936         2650.50    5273.448490

Observe how the methods inputed dictate the means of aggregation

We are also able to obtain a seasonal period from this step as show below

In [10]:
DATAFRAMES = data.generate_dataframes(csv_fpath=path, warm_up=365, start_date = "1981-01-01", end_date = "1990-12-31",
                                      # seasonal aggregation
                                      # obtaining the month of January from every year from 1981 to 1985
                                      seasonal_p = True, sp_dperiod = ('01-01', '01-31'),
                                      sp_time_range = ('1981-01-01', '1985-12-31')
                                      # if the time range is not specified, it will return the daily period
                                      # for the whole data whose time frame might be specified by the start and
                                      # end date parameters
                                     )
for key, value in DATAFRAMES.items():
    print(f"{key}:\n{value}")

DF:
            QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981-01-01            9.85       2.518999             NaN       1.001954
1981-01-02           10.20       2.507289             NaN       0.997078
1981-01-03           10.00       2.495637             NaN       0.992233
1981-01-04           10.10       2.484073             NaN       0.987417
1981-01-05            9.99       2.472571             NaN       0.982631
...                    ...            ...             ...            ...
1990-12-27           10.10       6.615961             NaN       1.737144
1990-12-28            9.50       6.573054             NaN       1.725025
1990-12-29            8.60       6.530500             NaN       1.713013
1990-12-30            8.20       6.488300             NaN       1.701107
1990-12-31            8.25       6.446449             NaN       1.689308

[3652 rows x 4 columns]
DF_SIMULATED:
            QOSIM_05BB001  QOSIM_05BA001
1981-01-01       2.518999       1.001954
1981-01-02       2.507289       0.997078
1981-01-03       2.495637       0.992233
1981-01-04       2.484073       0.987417
1981-01-05       2.472571       0.982631
...                   ...            ...
1990-12-27       6.615961       1.737144
1990-12-28       6.573054       1.725025
1990-12-29       6.530500       1.713013
1990-12-30       6.488300       1.701107
1990-12-31       6.446449       1.689308

[3652 rows x 2 columns]
DF_OBSERVED:
            QOMEAS_05BB001  QOMEAS_05BA001
1981-01-01            9.85             NaN
1981-01-02           10.20             NaN
1981-01-03           10.00             NaN
1981-01-04           10.10             NaN
1981-01-05            9.99             NaN
...                    ...             ...
1990-12-27           10.10             NaN
1990-12-28            9.50             NaN
1990-12-29            8.60             NaN
1990-12-30            8.20             NaN
1990-12-31            8.25             NaN

[3652 rows x 2 columns]
DF_CUSTOM:
            QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981-01-01            9.85       2.518999             NaN       1.001954
1981-01-02           10.20       2.507289             NaN       0.997078
1981-01-03           10.00       2.495637             NaN       0.992233
1981-01-04           10.10       2.484073             NaN       0.987417
1981-01-05            9.99       2.472571             NaN       0.982631
...                    ...            ...             ...            ...
1985-01-27           11.40       2.734883             NaN       0.809116
1985-01-28           11.60       2.721414             NaN       0.805189
1985-01-29           11.70       2.708047             NaN       0.801287
1985-01-30           11.60       2.694749             NaN       0.797410
1985-01-31           11.60       2.681550             NaN       0.793556

[155 rows x 4 columns]

Again observe how there is always an observed and simulated dataframe

If the above weekly and daily aggregations werent done at the beginning you are also able to do them whenever you want during your evaluation using their respective functions

In [11]:
# calculating the daily aggregate outside the generate dataframe function
merged_df = DATAFRAMES["DF"]
print(merged_df)
print(data.daily_aggregate(df=merged_df))

            QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981-01-01            9.85       2.518999             NaN       1.001954
1981-01-02           10.20       2.507289             NaN       0.997078
1981-01-03           10.00       2.495637             NaN       0.992233
1981-01-04           10.10       2.484073             NaN       0.987417
1981-01-05            9.99       2.472571             NaN       0.982631
...                    ...            ...             ...            ...
1990-12-27           10.10       6.615961             NaN       1.737144
1990-12-28            9.50       6.573054             NaN       1.725025
1990-12-29            8.60       6.530500             NaN       1.713013
1990-12-30            8.20       6.488300             NaN       1.701107
1990-12-31            8.25       6.446449             NaN       1.689308

[3652 rows x 4 columns]
            QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981/01/01            9.85       2.518999             NaN       1.001954
1981/01/02           10.20       2.507289             NaN       0.997078
1981/01/03           10.00       2.495637             NaN       0.992233
1981/01/04           10.10       2.484073             NaN       0.987417
1981/01/05            9.99       2.472571             NaN       0.982631
...                    ...            ...             ...            ...
1990/12/27           10.10       6.615961             NaN       1.737144
1990/12/28            9.50       6.573054             NaN       1.725025
1990/12/29            8.60       6.530500             NaN       1.713013
1990/12/30            8.20       6.488300             NaN       1.701107
1990/12/31            8.25       6.446449             NaN       1.689308

[3652 rows x 4 columns]

In [12]:
# We are also able to do the same weekly...
# Recall that the default method is mean
print(data.weekly_aggregate(df=merged_df, method="min"))

         QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981/00            9.85       2.484073             NaN       0.987417
1981/01            8.70       2.404939             NaN       0.954524
1981/02            8.24       2.328990             NaN       0.923008
1981/03            7.86       2.256059             NaN       0.892801
1981/04            8.10       2.186006             NaN       0.863836
...                 ...            ...             ...            ...
1990/49           10.80       7.453629             NaN       1.975199
1990/50            8.70       7.112537             NaN       1.877937
1990/51            8.10       6.791226             NaN       1.786726
1990/52            8.20       6.488300             NaN       1.701107
1990/53            8.25       6.446449             NaN       1.689308

[531 rows x 4 columns]

In [13]:
# Monthly...
print(data.monthly_aggregate(df=merged_df, method="inst"))

         QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981/01            8.62       2.195846             NaN       0.867900
1981/02            7.20       1.940355             NaN       0.762678
1981/03            7.25       1.699932             NaN       0.664341
1981/04           15.30       3.859564             NaN       0.584523
1981/05          113.00     220.485800           28.20      96.363520
...                 ...            ...             ...            ...
1990/08           33.60      40.431200           10.10      23.856810
1990/09           90.90      19.438340           30.50       6.175078
1990/10           21.10       9.648046            4.01       2.642092
1990/11           12.00       7.920140            3.90       2.109938
1990/12            8.25       6.446449             NaN       1.689308

[120 rows x 4 columns]

In [14]:
# Yearly...
print(data.yearly_aggregate(df=merged_df, method="sum"))

      QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981        10386.27    9273.383180         2424.26    4007.949313
1982        12635.47    8874.369067         3163.23    4123.606233
1983        11909.23    8214.793557         3198.17    3810.515038
1984        13298.33    7459.351671         2699.42    3431.981225
1985        13730.50    8487.241498         2992.40    3756.822014
1986        12576.84   10651.883689         3103.15    4794.825198
1987        15066.57    8947.025052         3599.74    4260.917801
1988        12642.53   10377.241643         2972.87    4614.234614
1989        10860.93   11118.336160         2624.79    5193.322199
1990        11129.76   11226.011936         2650.50    5273.448490

In [15]:
# and we are also able to obtaining a customized seasonal period...
print(data.seasonal_period(df=merged_df, daily_period=('01-01', '01-31'), time_range = ('1981-01-01', '1985-12-31')))

            QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981-01-01            9.85       2.518999             NaN       1.001954
1981-01-02           10.20       2.507289             NaN       0.997078
1981-01-03           10.00       2.495637             NaN       0.992233
1981-01-04           10.10       2.484073             NaN       0.987417
1981-01-05            9.99       2.472571             NaN       0.982631
...                    ...            ...             ...            ...
1985-01-27           11.40       2.734883             NaN       0.809116
1985-01-28           11.60       2.721414             NaN       0.805189
1985-01-29           11.70       2.708047             NaN       0.801287
1985-01-30           11.60       2.694749             NaN       0.797410
1985-01-31           11.60       2.681550             NaN       0.793556

[155 rows x 4 columns]

Finally, we are able to extract each station from the data

In [16]:
## for ease of code I will rename the variables
DATAFRAMES = data.generate_dataframes(csv_fpath=path, warm_up=365)
observed = DATAFRAMES["DF_OBSERVED"]
simulated = DATAFRAMES["DF_SIMULATED"]

In [17]:
# You are also able to split the data into their respective stations in the cases where you might want to do so
for station in data.station_dataframe(observed=observed, simulated=simulated):
    print(station)

            QOMEAS_05BB001  QOSIM_05BB001
1980-12-31           10.20       2.530770
1981-01-01            9.85       2.518999
1981-01-02           10.20       2.507289
1981-01-03           10.00       2.495637
1981-01-04           10.10       2.484073
...                    ...            ...
2017-12-27             NaN       4.418050
2017-12-28             NaN       4.393084
2017-12-29             NaN       4.368303
2017-12-30             NaN       4.343699
2017-12-31             NaN       4.319275

[13515 rows x 2 columns]
            QOMEAS_05BA001  QOSIM_05BA001
1980-12-31             NaN       1.006860
1981-01-01             NaN       1.001954
1981-01-02             NaN       0.997078
1981-01-03             NaN       0.992233
1981-01-04             NaN       0.987417
...                    ...            ...
2017-12-27             NaN       1.380227
2017-12-28             NaN       1.372171
2017-12-29             NaN       1.364174
2017-12-30             NaN       1.356237
2017-12-31             NaN       1.348359

[13515 rows x 2 columns]

<mark>Note: As it stands, that is the only kind of data that we it is currently able to handle. In future releases, It will be able to handle more file types including, netcdf file, shape file, arrays, and more.<mark/>

### Analysis

Because the library is in active development, there will be regular removals and additions to its features. As a rule of thumb therefore it is always a good idea to check what it can do at the time of use.

In [18]:
# We do this by calling on its available metrics
for metric in metrics.available_metrics():
    print(metric)

MSE
RMSE
MAE
NSE
NegNSE
LogNSE
NegLogNSE
KGE
NegKGE
KGE 2012
BIAS
AbsBIAS
TTP
TTCoM
SPOD

Now that we know what it can currently do, we know what we want to ask for.

##### Mean Square Error

In [19]:
# Mean square error for the first station in the data we were given
print(metrics.mse(observed=observed, simulated=simulated))

[1656.685638835447, 730.4265136887851]

##### Root Mean Square Error

In [20]:
# lets calculate for the root mean square error for the first station in the data we were given
# The syntax goes:-
print(metrics.rmse(observed=observed, simulated=simulated))

[40.702403354537275, 27.02640400957525]

##### Mean Average Error

In [21]:
# Similarly, the mean absolute error for the first station in the data we were given will look like 
print(metrics.mae(observed=observed, simulated=simulated))

[22.12912878335626, 13.558496468765133]

##### Nash-Sutcliffe Efficiency

In [22]:
# Similarly, the Nash-Sutcliffe Efficiency for the first station in the data we were given will look like 
print(metrics.nse(observed=observed, simulated=simulated))

[0.0021806971124596064, -4.824700963459696]

##### Kling-Gupta Efficiency

In [23]:
# Similarly, the Kling-Gupta Efficiency for the first station in the data we were given will look like 
print(metrics.kge(observed=observed, simulated=simulated))

[0.49061085454963205, -0.7628035230858525]

##### The Updated Kling-Gupta Efficiency (2012)

In [24]:
# Similarly, the Kling-Gupta Efficiency for the first station in the data we were given will look like 
print(metrics.kge_2012(observed=observed, simulated=simulated))

[0.27812840065858213, -0.1908546908670441]

##### Percentage Bias

In [25]:
# Similarly, the Percentage Bias for the first station in the data we were given will look like 
print(metrics.bias(observed=observed, simulated=simulated))

# Observed that it returns the percentage not the actual value i.e 27% not 0.27

[-27.052012466427488, 31.551597410264947]

##### Time to Peak

In [26]:
# Similarly, the Time to Peak for the simulated data from the first station in the data we were given will look like 
print(metrics.time_to_peak(df=simulated))

# The time to peak for the observed data for the same station looks like:-
print(metrics.time_to_peak(df=observed))

[186.61111111111111, 172.72222222222223]
[157.58823529411765, 170.77777777777777]

##### Time to Centre of Mass

In [27]:
# Similarly, the Time to Peak for the simulated data from the first station in the data we were given will look like 
print(metrics.time_to_centre_of_mass(df=simulated))

# The time to peak for the observed data for the same station looks like:-
print(metrics.time_to_centre_of_mass(df=observed))

[192.78635358563776, 192.42788801235076]
[182.56368935854212, 200.31822645703028]

##### Spring Pulse Onset Delay

In [28]:
# Similarly, the Time to Peak for the simulated data from the first station in the data we were given will look like 
print(metrics.SpringPulseOnset(df=simulated))

# The time to peak for the observed data for the same station looks like:-
print(metrics.SpringPulseOnset(df=observed))

[136.19444444444446, 142.94444444444446]
[129.1764705882353, 0.0]

#### Multiple metrics

In [29]:
# You are also able to calculate possible available metrics 
for key, value in metrics.calculate_all_metrics(observed=observed, simulated=simulated, stations=[1, 2]).items():
    print(f"{key}: {value}")

MSE: [1656.685638835447, 730.4265136887851]
RMSE: [40.702403354537275, 27.02640400957525]
MAE: [22.12912878335626, 13.558496468765133]
NSE: [0.0021806971124596064, -4.824700963459696]
NegNSE: [-0.0021806971124596064, 4.824700963459696]
LogNSE: [-0.23787575482558498, -0.8608412562580361]
NegLogNSE: [0.23787575482558498, 0.8608412562580361]
KGE: [0.49061085454963205, -0.7628035230858525]
NegKGE: [-0.49061085454963205, 0.7628035230858525]
KGE 2012: [0.27812840065858213, -0.1908546908670441]
BIAS: [-27.052012466427488, 31.551597410264947]
AbsBIAS: [27.052012466427488, 31.551597410264947]
TTP_obs: [157.58823529411765, 170.77777777777777]
TTP_sim: [186.61111111111111, 172.72222222222223]
TTCoM_obs: [182.56368935854212, 200.31822645703028]
TTCoM_sim: [192.78635358563776, 192.42788801235076]
SPOD_obs: [129.1764705882353, 0.0]
SPOD_sim: [136.19444444444446, 142.94444444444446]

Note: There will be an option to have this returned in a text file for easy observation in the coming days

In [30]:
# Naturally, you are also able to calculate a few metrics at a time but putting then in a list and passing them into the function
# as shown below
metrices = ["MSE", "RMSE", "MAE", "NSE", "NegNSE", "LogNSE"]
for key, value in metrics.calculate_metrics(observed=observed, simulated=simulated, metrices=metrices).items():
    print(f"{key}: {value}")

MSE: [1656.685638835447, 730.4265136887851]
RMSE: [40.702403354537275, 27.02640400957525]
MAE: [22.12912878335626, 13.558496468765133]
NSE: [0.0021806971124596064, -4.824700963459696]
NegNSE: [-0.0021806971124596064, 4.824700963459696]
LogNSE: [-0.23787575482558498, -0.8608412562580361]

### Visualizations

<mark>Note: The visualization modules are not yet at a point where it can be put into public use.<mark/>

In [31]:
metrics.calculate_all_metrics(observed=observed, simulated=simulated, stations=[1, 2], format="txt")

See metrics_out.txt file in directory

In [32]:
observed.index.strftime("%Y")
print(observed)
yearly_agg= observed.groupby(observed.index.strftime("%Y"))
print(yearly_agg)
print(observed)

            QOMEAS_05BB001  QOMEAS_05BA001
1980-12-31           10.20             NaN
1981-01-01            9.85             NaN
1981-01-02           10.20             NaN
1981-01-03           10.00             NaN
1981-01-04           10.10             NaN
...                    ...             ...
2017-12-27             NaN             NaN
2017-12-28             NaN             NaN
2017-12-29             NaN             NaN
2017-12-30             NaN             NaN
2017-12-31             NaN             NaN

[13515 rows x 2 columns]
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002099F056710>
            QOMEAS_05BB001  QOMEAS_05BA001
1980-12-31           10.20             NaN
1981-01-01            9.85             NaN
1981-01-02           10.20             NaN
1981-01-03           10.00             NaN
1981-01-04           10.10             NaN
...                    ...             ...
2017-12-27             NaN             NaN
2017-12-28             NaN             NaN
2017-12-29             NaN             NaN
2017-12-30             NaN             NaN
2017-12-31             NaN             NaN

[13515 rows x 2 columns]