## Data Manipulation Tutorial

This notebook provides examples on how to carry out data manipulation and aggregation using the post_processing python library. Be sure to go through the [Quick Start](https://nhs-postprocessing.readthedocs.io/en/latest/QuickStart.html) section of the [documentation](https://nhs-postprocessing.readthedocs.io/en/latest/index.html) for instructions on how to access and import the libary and its packages.

If you would like to open an editable runnable version of the tutorial click [here](https://mybinder.org/v2/gh/UchechukwuUdenze/NHS_PostProcessing/main?%2FHEAD=&urlpath=%2Fdoc%2Ftree%2Fdocs%2Fsource%2Fnotebooks%2Ftutorial-data-manipulation.ipynb) to be directed to a binder platform

<mark>The Library is still under active development and empty sections will be completed in Due time</mark>

### Table of content
- [Generate DataFrames](#generate-dataframes)
- [Daily Aggregation](#daily-aggregation)
- [Weekly Aggregation](#weekly-aggregation)
- [Monthly Aggregation](#monthly-aggregation)
- [Yearly Aggregation](#yearly-aggregation)
- [Periodic/Seasaonal Aggregation](#periodic/seasonal-aggregation)
- [Long Term Aggregation](#long-term-aggregation)

 All files are available in the github repository [here](https://github.com/UchechukwuUdenze/NHS_PostProcessing/tree/main/docs/source/notebooks)

### Requirements

The conda environmnent contains all libraries associated the post processing library. After setting up the conda environment, you only have to import the data maniupulation module from postprocessinglib.evaluation.

In this example though, I will also be importing other modules to help generate the data that I will be trying to analyse.

In [1]:
### Remove and modify these later.
import sys
import pandas as pd
sys.path.append("../../../")

In [2]:
from postprocessinglib.evaluation import data

### GENERATE DATAFRAMES

This is the main overarching function that returns the required files in theier respective formats for use by the other modules and functions in the library. In its simplest form, it requires a csv file which contains the predicted and measured data formatted reffered to as the **merged data** as shown below :

 **<p style="text-align:center;">merged data</p>**
 
| Some datetime  | station1_obs | station1_sim | station2_obs | station2_sim |
| -------------- | ------------ | ------------ | ------------ | ------------ | 

or two csv files - one for observed and one for the simulated data, similarly formatted as shown below:

 **<p style="text-align:center;">obs data</p>**
 
| Some datetime  | station1_obs | station2_obs |
| -------------- | ------------ | ------------ |
 
 **<p style="text-align:center;">sim data</p>**

| Some datetime  | station1_sim | station2_sim |
| -------------- | ------------ | ------------ |


We then pass these into our generate dataframes function as shown below:

In [3]:
# passing a small controlled csv file with only two stations for testing
path = "MESH_output_streamflow_1.csv"

# csv_fpath is used to represent the merged csv file
DATAFRAMES = data.generate_dataframes(csv_fpath=path)

The start date for the Observed Data is 1980-01-01
The start date for the Simulated Data is 1980-01-01
The start date for the Merged Data is 1980-01-01

By default the function returns a dictionary that contains 3 dataframes - the Merged dataframe, the Observed dataframe and the Simuated dataframe, represented as DF, DF_OBSERVED and DF_SIMULATED respectively as demonstrated below:

In [16]:
print("The Merged dataframe:")
print(DATAFRAMES["DF"].head(5))
print("\nThe Observed dataframe:")
print(DATAFRAMES["DF_OBSERVED"].head(5))
print("\nThe Simulated dataframe:")
print(DATAFRAMES["DF_SIMULATED"].head(5))

The Merged dataframe:
            QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981-01-01            9.85       2.518999             NaN       1.001954
1981-01-02           10.20       2.507289             NaN       0.997078
1981-01-03           10.00       2.495637             NaN       0.992233
1981-01-04           10.10       2.484073             NaN       0.987417
1981-01-05            9.99       2.472571             NaN       0.982631

The Observed dataframe:
            QOMEAS_05BB001  QOMEAS_05BA001
1981-01-01            9.85             NaN
1981-01-02           10.20             NaN
1981-01-03           10.00             NaN
1981-01-04           10.10             NaN
1981-01-05            9.99             NaN

The Simulated dataframe:
            QOSIM_05BB001  QOSIM_05BA001
1981-01-01       2.518999       1.001954
1981-01-02       2.507289       0.997078
1981-01-03       2.495637       0.992233
1981-01-04       2.484073       0.987417
1981-01-05       2.472571       0.982631

You are also able to tell the function to skip the first few values by writing a value to the **warm_up** parameter of the function. We are also able to specify a start and end date using the **start_date**  and **end_date**. These are useful in cases when you want only a fixed time like a particular year everything after or before a particular date. A few examples are shown below:

In [5]:
# assuming the simulation model needs 366 days (the first year) to warm up and account for errors during the learning phase.
DATAFRAMES = data.generate_dataframes(csv_fpath=path, warm_up=366)

The start date for the Observed Data is 1981-01-01
The start date for the Simulated Data is 1981-01-01
The start date for the Merged Data is 1981-01-01

Observe that the data now skips the entire first year starting from 1981-01-01 as opposed to 1980-01-01.

In [15]:
DATAFRAMES_till2009 = data.generate_dataframes(csv_fpath=path, warm_up=366, end_date='2009-12-31')
print("\nThe End of the Merged dataframe:")
print(DATAFRAMES_till2009["DF"].tail(5))

The start date for the Observed Data is 1981-01-01
The start date for the Simulated Data is 1981-01-01
The start date for the Merged Data is 1981-01-01

The End of the Merged dataframe:
            QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
2009-12-27             NaN       4.114114             NaN       0.815359
2009-12-28             NaN       4.091105             NaN       0.810912
2009-12-29             NaN       4.068261             NaN       0.806497
2009-12-30             NaN       4.045577             NaN       0.802113
2009-12-31             NaN       4.023057             NaN       0.797758

Notice how it ends at 2009 as specified

In [14]:
DATAFRAMES_from1995 = data.generate_dataframes(csv_fpath=path, warm_up=366, start_date='1995-01-01')
print("\nThe Start of the Observed dataframe:")
print(DATAFRAMES_from1995["DF_OBSERVED"].head(5))

The start date for the Observed Data is 1995-01-01
The start date for the Simulated Data is 1995-01-01
The start date for the Merged Data is 1995-01-01

The Start of the Observed dataframe:
            QOMEAS_05BB001  QOMEAS_05BA001
1995-01-01            8.37             NaN
1995-01-02           10.10             NaN
1995-01-03           12.20             NaN
1995-01-04           13.00             NaN
1995-01-05           13.20             NaN

Observe that the data now starts 1995

In [13]:
DATAFRAMES_January2010 = data.generate_dataframes(csv_fpath=path, warm_up=366, start_date='2010-01-01' , end_date='2010-1-31')
print("\nThe Start of the Merged dataframe:")
print(DATAFRAMES_January2010["DF"].head(5))
print("\nThe End of the Merged dataframe:")
print(DATAFRAMES_January2010["DF"].tail(5))

The start date for the Observed Data is 2010-01-01
The start date for the Simulated Data is 2010-01-01
The start date for the Merged Data is 2010-01-01

The Start of the Merged dataframe:
            QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
2010-01-01             NaN       4.000698             NaN       0.793435
2010-01-02             NaN       3.978494             NaN       0.789141
2010-01-03             NaN       3.956450             NaN       0.784877
2010-01-04             NaN       3.934558             NaN       0.780643
2010-01-05             NaN       3.912824             NaN       0.776437

The End of the Merged dataframe:
            QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
2010-01-27             NaN       3.471175             NaN       0.690854
2010-01-28             NaN       3.452648             NaN       0.687258
2010-01-29             NaN       3.434252             NaN       0.683687
2010-01-30             NaN       3.415977             NaN       0.680139
2010-01-31             NaN       3.397829             NaN       0.676615

Observe that the data now starts from January 1st 2010 as specified and ends at January 31st 2010

Something to note though is that when specifying a warm up date and a start date and the start date exists before the warm up, its start date will be pushed forward to the warm up date as the warm up parameter takes precedence. For instance:

In [12]:
# Here we set our start date to be somewhere within the 366 warmup time. It will get overidden and start from the end of
# the warm up time
DATAFRAMES_from_June_1980 = data.generate_dataframes(csv_fpath=path, warm_up=366, start_date='1980-06-01')
print("\nThe Start of the Predicted Data: ")
print(DATAFRAMES_from_June_1980["DF_SIMULATED"].head(5))

The start date for the Observed Data is 1981-01-01
The start date for the Simulated Data is 1981-01-01
The start date for the Merged Data is 1981-01-01

The Start of the Predicted Data:
            QOSIM_05BB001  QOSIM_05BA001
1981-01-01       2.518999       1.001954
1981-01-02       2.507289       0.997078
1981-01-03       2.495637       0.992233
1981-01-04       2.484073       0.987417
1981-01-05       2.472571       0.982631

As you can observe it starts from 1981 despite specifying a start date of June 1st 1980!

The three dataframes - merged, observed and simulated - form the backbone of the library. Every other function in the library uses one or more of at least these three dataframes to perform analysis whether visual, descriptive or diagonistic.

### DAILY AGGREGATION
This function returns the daily aggregate of the data passed into it. Its aggregates using the method passed or if one isnt given, its default is **mean**. Its that simple. Most of the data already comes with daily time stamps though so this is one of the fewer used functions. Its functionality is shown below:

In [17]:
data.daily_aggregate(df=DATAFRAMES["DF"])

          QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981/001            9.85       2.518999             NaN       1.001954
1981/002           10.20       2.507289             NaN       0.997078
1981/003           10.00       2.495637             NaN       0.992233
1981/004           10.10       2.484073             NaN       0.987417
1981/005            9.99       2.472571             NaN       0.982631
...                  ...            ...             ...            ...
2017/361             NaN       4.418050             NaN       1.380227
2017/362             NaN       4.393084             NaN       1.372171
2017/363             NaN       4.368303             NaN       1.364174
2017/364             NaN       4.343699             NaN       1.356237
2017/365             NaN       4.319275             NaN       1.348359

[13514 rows x 4 columns]

It returns a dataframe indexed daily from 1 till 365/366 i.e., the days of the year

### WEEKLY AGGREGATION
This function returns the weekly aggregate of the data passed into it. Its aggregates using the method passed or if one isnt given, its default is **mean**. Its that simple. Its functionality is shown below:

In [19]:
data.weekly_aggregate(df=DATAFRAMES["DF"]) # default method of aggregation is mean

         QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981.00       10.016667       2.507308             NaN       0.997088
1981.01        9.412857       2.449894             NaN       0.973205
1981.02        8.522857       2.372138             NaN       0.940908
1981.03        8.432857       2.297496             NaN       0.909958
1981.04        8.380000       2.225810             NaN       0.880288
...                 ...            ...             ...            ...
2017.49             NaN       4.987091             NaN       1.564228
2017.50             NaN       4.787854             NaN       1.499766
2017.51             NaN       4.598380             NaN       1.438476
2017.52             NaN       4.418415             NaN       1.380348
2017.53             NaN       4.319275             NaN       1.348359

[1962 rows x 4 columns]

It returns a dataframe indexed weekly from 0/1 till 52/53 i.e., the weeks of the year

In [21]:
data.weekly_aggregate(df=DATAFRAMES["DF"], method='sum') # here we aggregate by summing up all the values of the week.

         QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981.00           30.05       7.521925             0.0       2.991265
1981.01           65.89      17.149256             0.0       6.812436
1981.02           59.66      16.604969             0.0       6.586354
1981.03           59.03      16.082471             0.0       6.369705
1981.04           58.66      15.580672             0.0       6.162017
...                 ...            ...             ...            ...
2017.49            0.00      34.909640             0.0      10.949597
2017.50            0.00      33.514975             0.0      10.498365
2017.51            0.00      32.188663             0.0      10.069334
2017.52            0.00      30.928903             0.0       9.662437
2017.53            0.00       4.319275             0.0       1.348359

[1962 rows x 4 columns]

### YEARLY AGGREGATION
This function returns the yearly aggregate of the data passed into it. Its aggregates using the method passed or if one isnt given, its default is **mean**. Its that simple. Its functionality is shown below:

In [22]:
data.yearly_aggregate(df=DATAFRAMES["DF"]) # default method of aggregation is mean

      QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981       28.455534      25.406529       13.175326      10.980683
1982       34.617726      24.313340       17.191467      11.297551
1983       35.549940      22.506284       17.381359      10.439767
1984       36.334235      20.380742       16.360121       9.376998
1985       37.617808      23.252716       16.263043      10.292663
1986       34.457096      29.183243       16.864946      13.136507
1987       41.278274      24.512397       19.563804      11.673747
1988       34.542432      28.353119       16.156902      12.607198
1989       29.755973      30.461195       14.265163      14.228280
1990       30.492493      30.756197       14.404891      14.447804
1991       39.327699      33.268529       17.477663      15.705128
1992       46.538689      27.101269       21.118043      12.475532
1993       41.749726      28.125668       19.557989      12.876864
1994       42.803096      22.094220       20.528043      11.105019
1995       35.322986      28.838867       20.303617      13.716693
1996       34.293415      25.112698       17.101895      11.463492
1997       11.200000      24.871928             NaN      12.246098
1998             NaN      25.811448       19.449784      12.741971
1999             NaN      23.789916       17.503370      11.047620
2000             NaN      27.818904             NaN      13.445447
2001             NaN      19.388884             NaN       9.659159
2002             NaN      22.046570             NaN      11.093129
2003             NaN      24.706060             NaN      12.375584
2004             NaN      32.040185             NaN      13.501590
2005             NaN      32.808225             NaN      12.877522
2006             NaN      24.583441             NaN      11.063602
2007             NaN      30.381487             NaN      13.795688
2008             NaN      26.374202             NaN      12.651727
2009             NaN      24.006338             NaN      10.025384
2010             NaN      21.935948             NaN       9.520864
2011             NaN      27.831566             NaN      13.008640
2012             NaN      35.906199             NaN      15.977243
2013             NaN      31.202938             NaN      13.068266
2014             NaN      34.848909             NaN      14.517545
2015             NaN      33.584051             NaN      14.691773
2016             NaN      27.294480             NaN      11.666419
2017             NaN      24.114787             NaN      11.578789

It returns a dataframe indexed yearly from the first year in your data till the last year.

In [24]:
data.yearly_aggregate(df=DATAFRAMES["DF"], method='median') # here we aggregate by finding the median of the values each year.

      QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981           11.60       7.237653           13.25       3.214779
1982           11.30       7.300835           13.95       3.150365
1983           18.10       5.012020           19.10       2.038265
1984           22.10       4.247992           12.10       1.254361
1985           25.90       2.762048           15.70       0.782137
1986           17.40       4.993034           16.15       1.151624
1987           17.50       5.050128           15.55       1.304793
1988           16.00       6.095379           16.90       1.149369
1989           12.90       6.278475           14.85       1.414743
1990           17.10       9.158751           12.80       2.272742
1991           14.70      10.199980           16.80       2.470980
1992           18.95       6.821956           14.25       1.880230
1993           14.30       3.953930           19.10       1.124957
1994           18.10       4.663833           21.00       1.296907
1995           20.40       6.029051           19.00       1.556277
1996           27.20       7.392886           16.45       1.686329
1997           11.20       5.243782             NaN       1.336282
1998             NaN       3.727800           20.60       1.444008
1999             NaN       4.976039           17.80       1.258337
2000             NaN       6.714166             NaN       1.825891
2001             NaN       4.291936             NaN       1.181119
2002             NaN       4.114062             NaN       1.059668
2003             NaN       5.251292             NaN       1.214328
2004             NaN       6.560574             NaN       1.642543
2005             NaN       4.404523             NaN       1.115886
2006             NaN       4.448620             NaN       0.918057
2007             NaN       5.688885             NaN       1.634987
2008             NaN       4.923028             NaN       1.426765
2009             NaN       5.386817             NaN       1.078448
2010             NaN       3.894997             NaN       0.796216
2011             NaN       8.727062             NaN       2.159616
2012             NaN      11.616280             NaN       2.649615
2013             NaN       7.923403             NaN       2.044657
2014             NaN       9.683681             NaN       2.269540
2015             NaN       6.724744             NaN       1.507914
2016             NaN       4.364964             NaN       1.282979
2017             NaN       5.866137             NaN       1.794438

### MONTHLY AGGREGATION
This function returns the monthly aggregate of the data passed into it. Its aggregates using the method passed or if one isnt given, its default is **mean**. Its that simple. Its functionality is shown below:

In [25]:
data.monthly_aggregate(df=DATAFRAMES["DF"]) # default method of aggregation is mean

         QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981-01        8.815806       2.352880             NaN       0.932961
1981-02        7.780000       2.060198             NaN       0.811975
1981-03        6.896129       1.812920             NaN       0.710498
1981-04        7.981333       3.132911             NaN       0.821663
1981-05       43.538710      50.736276       10.111333      15.202072
...                 ...            ...             ...            ...
2017-08             NaN      32.222317             NaN      17.704763
2017-09             NaN      28.141430             NaN      14.315134
2017-10             NaN       7.698483             NaN       2.615914
2017-11             NaN       5.625516             NaN       1.770196
2017-12             NaN       4.712923             NaN       1.475527

[444 rows x 4 columns]

It returns a dataframe indexed monthly from 1 till 12 i.e., the months of the year

In [26]:
data.monthly_aggregate(df=DATAFRAMES["DF"], method='max') # here we aggregate by returning the maximum value that month

         QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981-01           10.20       2.518999             NaN       1.001954
1981-02            8.51       2.186006             NaN       0.863836
1981-03            7.50       1.931955             NaN       0.759228
1981-04           15.30      17.241560             NaN       3.692734
1981-05          165.00     220.485800            36.6      97.054240
...                 ...            ...             ...            ...
2017-08             NaN      41.657390             NaN      21.751910
2017-09             NaN     116.866500             NaN      53.925540
2017-10             NaN      19.746100             NaN       8.157081
2017-11             NaN       6.091304             NaN       1.927400
2017-12             NaN       5.134585             NaN       1.611400

[444 rows x 4 columns]

### PERIODIC/SEASONAL AGGREGATION
This allows us to return a specific period of time for every year or a select few years within a data set. Its allows you to essentially analyse a **season** or **period** every year without having to look through every day. 
For exmaple, lets say we want to isolate what the streamflow was like on the first 2 days of January every year, we would go..

In [28]:
data.seasonal_period(df=DATAFRAMES["DF"], daily_period=('01-01', '01-02'))

            QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981-01-01            9.85       2.518999             NaN       1.001954
1981-01-02           10.20       2.507289             NaN       0.997078
1982-01-01            7.17       5.465301             NaN       2.429704
1982-01-02            7.02       5.433753             NaN       2.414755
1983-01-01            8.98       5.371416             NaN       2.441398
...                    ...            ...             ...            ...
2015-01-02             NaN       6.944578             NaN       1.615503
2016-01-01             NaN       3.686424             NaN       1.005240
2016-01-02             NaN       3.666536             NaN       0.999701
2017-01-01             NaN       2.700768             NaN       0.872387
2017-01-02             NaN       2.687161             NaN       0.867826

[74 rows x 4 columns]

Observe that for every year, we only get the first two days of the year. 
We can also specify specific years and not return every year. For example we can get the predicted values for the first week of summer for the years 1999, 2001 and 2005 as shown below:

In [33]:
data.seasonal_period(df=DATAFRAMES["DF_SIMULATED"], daily_period=('06-21', '06-28'), years=[1999, 2001, 2005])

            QOSIM_05BB001  QOSIM_05BA001
1999-06-21      155.64250      127.26980
1999-06-22      147.19820       74.31406
1999-06-23       80.06104       34.51432
1999-06-24       45.07025       38.66659
1999-06-25      129.59160      104.75280
1999-06-26      156.33070       51.86972
1999-06-27      166.94590       62.61042
1999-06-28       85.17047       27.95974
2001-06-21       42.08820       32.47492
2001-06-22       44.51981       29.40924
2001-06-23       41.09985       29.90357
2001-06-24       42.13543       39.85459
2001-06-25       94.21543      135.35250
2001-06-26      127.62240       35.24305
2001-06-27       39.27969       39.95149
2001-06-28       77.72211       67.53999
2005-06-21       51.65529       24.16283
2005-06-22       51.92735       28.55426
2005-06-23       94.62647       35.51184
2005-06-24       40.85018       16.88546
2005-06-25       90.53637      109.68720
2005-06-26      189.87700       46.47357
2005-06-27       67.25498       43.57297
2005-06-28      157.66590       80.75896

As you can see, we are able to get the first week of summer for those 3 years.

### LONG TERM AGGREGATION

this allows us to compute the long-term seasonal aggregate values of a given DataFrame by applying the specified aggregation method to each day across all years in the provided time period. The resulting data is aggregated into a single year (1 to 365/366 days). This way we are able to see how the models perform year in year out compared to the actual recorded data - both aggregated as necessary. An example is shown below:

In [35]:
data.long_term_seasonal(df=DATAFRAMES["DF"]) # As usual the default aggregation method is mean/average

      QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
jday
1           9.446471       4.037666             NaN       1.130686
2           9.428125       4.014474             NaN       1.123915
3           9.660625       3.991451             NaN       1.117196
4           9.804375       3.968602             NaN       1.110529
5           9.787500       3.945921             NaN       1.103913
...              ...            ...             ...            ...
362         9.942500       4.188140             NaN       1.169614
363         9.695000       4.163847             NaN       1.162533
364         9.633125       4.139735             NaN       1.155507
365         9.516875       4.115805             NaN       1.148535
366         9.870000       4.433329             NaN       1.191653

[366 rows x 4 columns]

We are also able to calculate quantiles, For example the 75th Quantile value for all years aggregated into a single year looks like:

In [41]:
data.long_term_seasonal(df=DATAFRAMES["DF_SIMULATED"], method = 'Q75')

      QOSIM_05BB001  QOSIM_05BA001
jday
1          4.156184       1.248870
2          4.132273       1.242024
3          4.108537       1.235226
4          4.084971       1.228475
5          4.061583       1.221772
...             ...            ...
362        5.222542       1.627869
363        5.192005       1.617079
364        5.161703       1.606380
365        5.131630       1.595775
366        3.084618       0.889509

[366 rows x 2 columns]

### **Note**
All of these functions with hier various means of aggregation are available as individual functions but they can also be generated right from the **generate_dataframes()** function if you know eaxactly what you'll need from the beginning. It just requires specifying a few more parameters. These parameters are shown below:

In [39]:
## Lets use a time period of 1981 to 1990 to demonstrate this
DATAFRAMES = data.generate_dataframes(csv_fpath=path, warm_up=365, start_date = "1981-01-01", end_date = "1990-12-31",
                                      # optional arguments                                      
                                      # you specify that you want an aggregated dataframe by passing 'True' into 
                                      # the respective parameter and then you pass in your preffered method of aggregation
                                      
                                      # If you want daily aggregation
                                      daily_agg = True, da_method = 'min',
                                      # lets see a weekly aggregation
                                      weekly_agg = True, wa_method = 'min', # we want the minimum value each week
                                      # lets also see monthly aggregation
                                      monthly_agg = True, ma_method = 'inst', # we want the maximum value each month
                                      # lets also see yearly aggregation
                                      yearly_agg = True, ya_method = 'sum' # we want the sum of all values each year
                                      # note that without inputing the respective methods,
                                      # the functions will still default to mean as the method of aggregation
                                     )

The start date for the Observed Data is 1981-01-01
The start date for the Simulated Data is 1981-01-01
The start date for the Merged Data is 1981-01-01

In [44]:
DATAFRAMES = data.generate_dataframes(csv_fpath=path, warm_up=365, start_date = "1981-01-01", end_date = "1990-12-31",
                                      # seasonal aggregation
                                      # obtaining the months of May till August from every year from 1981 to 1985
                                      seasonal_p = True, sp_dperiod = ('05-01', '08-30'),
                                      sp_subset = ('1981-01-01', '1985-12-31'),
                                      # instead of sp_subset, we can also use years = [1981, 1982, 1983, 1984, 1985].
                                      
                                      # long term seasonal aggregation
                                      long_term = True, lt_method = ["q33.33", "median" ,'q75' ,'Q25' ,'q33' ],
                                      # when using long term in the generate_dataframes function, we are able to pass
                                      # in a list of methods of aggregation we want generated. BY dafault though it will
                                      # always generate maximum, minimum and median value dataframes 
                                     )

The start date for the Observed Data is 1981-01-01
The start date for the Simulated Data is 1981-01-01
The start date for the Merged Data is 1981-01-01

Putting it all together, we have:

In [46]:
DATAFRAMES = data.generate_dataframes(csv_fpath=path, warm_up=365, start_date = "1981-01-01", end_date = "1990-12-31",
                                      daily_agg = True, da_method = 'min',
                                      weekly_agg = True, wa_method = 'min',
                                      monthly_agg = True, ma_method = 'inst', 
                                      yearly_agg = True, ya_method = 'sum',                                      
                                      seasonal_p = True, sp_dperiod = ('05-01', '08-30'), sp_subset = ('1981-01-01', '1985-12-31'),
                                      long_term = True, lt_method = ["q33.33", "median" ,'q75' ,'Q25' ,'q33' ],
                                     )


for key, value in DATAFRAMES.items():
    print(f"{key}:\n{value}")

The start date for the Observed Data is 1981-01-01
The start date for the Simulated Data is 1981-01-01
The start date for the Merged Data is 1981-01-01
DF:
            QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981-01-01            9.85       2.518999             NaN       1.001954
1981-01-02           10.20       2.507289             NaN       0.997078
1981-01-03           10.00       2.495637             NaN       0.992233
1981-01-04           10.10       2.484073             NaN       0.987417
1981-01-05            9.99       2.472571             NaN       0.982631
...                    ...            ...             ...            ...
1990-12-27           10.10       6.615961             NaN       1.737144
1990-12-28            9.50       6.573054             NaN       1.725025
1990-12-29            8.60       6.530500             NaN       1.713013
1990-12-30            8.20       6.488300             NaN       1.701107
1990-12-31            8.25       6.446449             NaN       1.689308

[3652 rows x 4 columns]
DF_SIMULATED:
            QOSIM_05BB001  QOSIM_05BA001
1981-01-01       2.518999       1.001954
1981-01-02       2.507289       0.997078
1981-01-03       2.495637       0.992233
1981-01-04       2.484073       0.987417
1981-01-05       2.472571       0.982631
...                   ...            ...
1990-12-27       6.615961       1.737144
1990-12-28       6.573054       1.725025
1990-12-29       6.530500       1.713013
1990-12-30       6.488300       1.701107
1990-12-31       6.446449       1.689308

[3652 rows x 2 columns]
DF_OBSERVED:
            QOMEAS_05BB001  QOMEAS_05BA001
1981-01-01            9.85             NaN
1981-01-02           10.20             NaN
1981-01-03           10.00             NaN
1981-01-04           10.10             NaN
1981-01-05            9.99             NaN
...                    ...             ...
1990-12-27           10.10             NaN
1990-12-28            9.50             NaN
1990-12-29            8.60             NaN
1990-12-30            8.20             NaN
1990-12-31            8.25             NaN

[3652 rows x 2 columns]
DF_DAILY:
          QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981/001            9.85       2.518999             NaN       1.001954
1981/002           10.20       2.507289             NaN       0.997078
1981/003           10.00       2.495637             NaN       0.992233
1981/004           10.10       2.484073             NaN       0.987417
1981/005            9.99       2.472571             NaN       0.982631
...                  ...            ...             ...            ...
1990/361           10.10       6.615961             NaN       1.737144
1990/362            9.50       6.573054             NaN       1.725025
1990/363            8.60       6.530500             NaN       1.713013
1990/364            8.20       6.488300             NaN       1.701107
1990/365            8.25       6.446449             NaN       1.689308

[3652 rows x 4 columns]
DF_WEEKLY:
         QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981.00            9.85       2.495637             NaN       0.992233
1981.01            8.70       2.416050             NaN       0.959137
1981.02            8.24       2.339655             NaN       0.927429
1981.03            7.86       2.266305             NaN       0.897038
1981.04            7.88       2.195846             NaN       0.867900
...                 ...            ...             ...            ...
1990.48           10.80       7.504057             NaN       1.989616
1990.49            9.20       7.160021             NaN       1.891450
1990.50            8.10       6.835969             NaN       1.799404
1990.51            8.60       6.530500             NaN       1.713013
1990.52            8.20       6.446449             NaN       1.689308

[530 rows x 4 columns]
DF_MONTHLY:
         QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981-01            8.62       2.195846             NaN       0.867900
1981-02            7.20       1.940355             NaN       0.762678
1981-03            7.25       1.699932             NaN       0.664341
1981-04           15.30       3.859564             NaN       0.584523
1981-05          113.00     220.485800           28.20      96.363520
...                 ...            ...             ...            ...
1990-08           33.60      40.431200           10.10      23.856810
1990-09           90.90      19.438340           30.50       6.175078
1990-10           21.10       9.648046            4.01       2.642092
1990-11           12.00       7.920140            3.90       2.109938
1990-12            8.25       6.446449             NaN       1.689308

[120 rows x 4 columns]
DF_YEARLY:
      QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981        10386.27    9273.383180         2424.26    4007.949313
1982        12635.47    8874.369067         3163.23    4123.606233
1983        11909.23    8214.793557         3198.17    3810.515038
1984        13298.33    7459.351671         2699.42    3431.981225
1985        13730.50    8487.241498         2992.40    3756.822014
1986        12576.84   10651.883689         3103.15    4794.825198
1987        15066.57    8947.025052         3599.74    4260.917801
1988        12642.53   10377.241643         2972.87    4614.234614
1989        10860.93   11118.336160         2624.79    5193.322199
1990        11129.76   11226.011936         2650.50    5273.448490
DF_CUSTOM:
            QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
1981-05-01            13.8       4.924126             NaN       0.587910
1981-05-02            12.0       4.199440            3.01       0.592167
1981-05-03            10.9       2.605448            2.85       0.580767
1981-05-04            10.3       2.898053            2.72       0.582108
1981-05-05            10.4       3.357134            2.80       0.578170
...                    ...            ...             ...            ...
1985-08-26            45.9      22.102120           13.00      13.373290
1985-08-27            43.6      21.293030           12.50      12.981310
1985-08-28            42.5      21.262790           12.40      13.329020
1985-08-29            41.6      21.753170           12.80      13.696490
1985-08-30            42.0      22.593580           13.20      16.211630

[610 rows x 4 columns]
LONG_TERM_MIN:
      QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
jday
1               7.17       1.802230             NaN       0.485006
2               7.02       1.794152             NaN       0.482805
3               7.10       1.786115             NaN       0.480617
4               7.31       1.778133             NaN       0.478442
5               7.64       1.770190             NaN       0.476279
...              ...            ...             ...            ...
362             7.25       1.835014             NaN       0.493944
363             7.29       1.826749             NaN       0.491689
364             7.27       1.818528             NaN       0.489450
365             7.21       1.810352             NaN       0.487221
366            10.30       2.939887             NaN       0.782759

[366 rows x 4 columns]
LONG_TERM_MAX:
      QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
jday
1               12.7       5.465301             NaN       2.441398
2               12.7       5.433753             NaN       2.426411
3               12.7       5.402424             NaN       2.411540
4               12.7       5.371336             NaN       2.396784
5               12.8       5.340471             NaN       2.382142
...              ...            ...             ...            ...
362             13.3       6.573054             NaN       2.502534
363             13.0       6.530500             NaN       2.487069
364             12.8       6.488300             NaN       2.471726
365             12.7       6.446449             NaN       2.456503
366             11.3       3.132862             NaN       0.925092

[366 rows x 4 columns]
LONG_TERM_MEDIAN:
      QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
jday
1              9.795       3.397196             NaN       0.961191
2              9.815       3.379185             NaN       0.956437
3              9.855       3.361293             NaN       0.951713
4              9.875       3.343524             NaN       0.947018
5              9.695       3.325880             NaN       0.942354
...              ...            ...             ...            ...
362           10.350       3.698825             NaN       1.020910
363            9.490       3.678319             NaN       1.015117
364            9.070       3.657953             NaN       1.009368
365            9.350       3.637736             NaN       1.003660
366           10.800       3.036374             NaN       0.853926

[366 rows x 4 columns]
LONG_TERM_Q33.33:
      QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
jday
1             9.5038       3.111064             NaN       0.883555
2             9.4119       3.095175             NaN       0.878476
3             9.5898       3.079368             NaN       0.873434
4             9.7091       3.063681             NaN       0.868430
5             9.4000       3.048084             NaN       0.863463
...              ...            ...             ...            ...
362           9.4817       3.368631             NaN       0.904254
363           8.8461       3.351331             NaN       0.899021
364           8.9470       3.334136             NaN       0.893827
365           8.9176       3.317062             NaN       0.888672
366          10.6300       3.003569             NaN       0.829729

[366 rows x 4 columns]
LONG_TERM_Q75:
      QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
jday
1            10.0375       4.156184             NaN       1.248870
2            10.2000       4.132273             NaN       1.242024
3            10.6500       4.108537             NaN       1.235226
4            10.3250       4.084971             NaN       1.228475
5            10.5225       4.061583             NaN       1.221772
...              ...            ...             ...            ...
362          11.2500       5.222542             NaN       1.627869
363          11.0000       5.192005             NaN       1.617079
364          10.8000       5.161703             NaN       1.606380
365          10.4950       5.131630             NaN       1.595775
366          11.0500       3.084618             NaN       0.889509

[366 rows x 4 columns]
LONG_TERM_Q25:
      QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
jday
1             9.1150       2.972452             NaN       0.881223
2             9.2175       2.956880             NaN       0.876179
3             9.3450       2.941408             NaN       0.871171
4             9.6875       2.926045             NaN       0.866200
5             9.4000       2.910776             NaN       0.861267
...              ...            ...             ...            ...
362           9.0425       3.241984             NaN       0.901784
363           8.7525       3.225315             NaN       0.896586
364           8.8750       3.208758             NaN       0.891427
365           8.8600       3.192306             NaN       0.886306
366          10.5500       2.988131             NaN       0.818343

[366 rows x 4 columns]
LONG_TERM_Q33:
      QOMEAS_05BB001  QOSIM_05BB001  QOMEAS_05BA001  QOSIM_05BA001
jday
1             9.5038       3.111064             NaN       0.883555
2             9.4119       3.095175             NaN       0.878476
3             9.5898       3.079368             NaN       0.873434
4             9.7091       3.063681             NaN       0.868430
5             9.4000       3.048084             NaN       0.863463
...              ...            ...             ...            ...
362           9.4817       3.368631             NaN       0.904254
363           8.8461       3.351331             NaN       0.899021
364           8.9470       3.334136             NaN       0.893827
365           8.9176       3.317062             NaN       0.888672
366          10.6300       3.003569             NaN       0.829729

[366 rows x 4 columns]